/* stylelint-disable selector-list-comma-newline-after */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.img-noticias {
    height: 100%;
    border-radius: 0 3px 3px 0;
    height: 200px;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}


/*
   * Footer
   */

.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}